<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="LivrariaFive.Properties.Settings.LivrariaConnectionString"
   connectionString="Data Source=IAN;Initial Catalog=Livraria;User ID=sa;Password=ianvictor123"
   providerName="System.Data.SqlClient" />
  <add name="LivrariaFive.Properties.Settings.LivrariaConnectionString1"
   connectionString="Data Source=IAN;Initial Catalog=Livraria;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>